<div class="header-wrapper">
    <div class="header-container">
        <div
            [ngClass]="player1Active ? 'header-player header-player-one header-active' : 'header-player header-player-one'">
            <p>PLAYER 1</p>
            <!-- <p class="header-player-games">GAMES WON:</p>
            <p class="header-player-score">{{ player1score }}</p> -->
        </div>
        <div
            [ngClass]="player2Active ? 'header-player header-player-two header-active' : 'header-player header-player-two'">
            <p>PLAYER 2</p>
            <!-- <p class="header-player-games">GAMES WON:</p>
            <p class="header-player-score">{{ player2score }}</p> -->
        </div>
    </div>
</div>