<!-- <div class="checkerboard-wrapper" cdkDropListGroup>
    <div *ngFor="let item of items;let i=index">
        <div id={{i}} class={{item.class}} cdkDropList [cdkDropListData]="item" (cdkDropListDropped)="drop($event)">

            <div *ngIf="newGame" class="images" (pointerdown)="grabChecker($event)" (pointerup)="placeChecker($event)" cdkDrag >
                <div *cdkDragPlaceholder></div>
                <img loading="lazy" *ngIf="item.img" id={{i}} class="checkerImg" src={{item.img}}
                    (cdkDragEnded)="onDragEnded($event , i)" />
            </div>
        </div>
    </div>
</div> -->

<div class="checkerboard-wrapper" cdkDropListGroup>
    <div #square *ngFor="let item of items;let i=index">
        <div id={{item.squareId}} class={{item.class}} cdkDropList [cdkDropListData]="item"
            (cdkDropListDropped)="drop($event)" (pointerdown)="getId($event, i)">
            <div *ngIf="newGame" class="images" (pointerdown)="grabChecker($event, i)"
                (pointerup)="placeChecker($event,id)" (cdkDragEnded)="onDragEnded($event)" cdkDrag>
                <div *cdkDragPlaceholder></div>
                <img appHide loading="lazy" *ngIf="item.img" id={{i}} class="checkerImg" src={{item.img}} />
            </div>
        </div>
    </div>
</div>