<div class="checkerboard-wrapper" cdkDropListGroup>
    <div #square *ngFor="let checker of checkers;let i=index">
        <div id={{checker.squareId}} class={{checker.class}} cdkDropList [cdkDropListData]="checker"
            (cdkDropListDropped)="drop($event)">
            <div *ngIf="newGame" class="images" cdkDrag>
                <div *cdkDragPlaceholder></div>
                <img appHide loading="lazy" *ngIf="checker.img" id={{i}} class="checkerImg" src={{checker.img}} />
            </div>
        </div>
    </div>
</div>