.checkerboard-wrapper {
    display: grid !important;
    grid-template-rows: repeat(8, 50px);
    grid-template-columns: repeat(8, 50px);
    justify-content: center;
}

.checkerboard-container {
    border: 5px solid gray;


}

.checkerboard-row {
    display: flex;
}

.square {
    height: 50px;
    width: 50px;
}

.checkerboard-square-black {
    background-color: #000000;
    border: 1px solid gray;
}

.checkerboard-square-red {
    background-color: #ff0000;
    border: 1px solid gray;
}

.images {
    margin: 1px 0px 0px 2px;
}

.checkerImg {
    height: 65px;
    margin: 2px 0px 0px 2px;
    cursor: pointer;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.hide {
    display: none;
}

@media screen and (min-width: 768px) {

    .checkerboard-wrapper {
        display: grid !important;
        grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
        grid-template-columns: repeat(8, 80px);
        justify-content: center;
    }

    .square {
        height: 80px;
        width: 80px;
    }

    .images {
        margin: 4px 0px 0px 6px;
    }

    .checkerImg {
        height: 90px;
        margin: 7px 0px 0px 5px;
    }
}