<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<div class="layout-wrapper">
    <div>
        <app-checkerboard></app-checkerboard>
    </div>
    <div class="layout-buttons">
        <app-user-options></app-user-options>
    </div>
    <!-- <div class="layout-buttons">
        <button type="button" [ngClass]="!child.disabled ? 'button' : 'button disabled'" (click)="child.addPieces()"
            [disabled]="child.disabled">New
            Game</button>
        <button type="button" class="button" (click)="child.stopGame()">End Game</button>
    </div> -->
</div>