<div class="checkerboard-wrapper" #contenedor cdkDropListGroup>
    <div *ngFor="let item of items;let i=index">
        <div id={{item.id}} class={{item.class}} [cdkDropListData]="{item: img,index:i}"
            (cdkDropListDropped)="drop($event)">
            <div *ngIf="newGame" class="images" (mouseup)="moveChecker(item.id)" cdkDrag>
                <div *cdkDragPlaceholder></div>
                <img *ngIf=item.img class="checkerImg" src={{item.img}} />
            </div>
        </div>
    </div>
</div>