.checkerboard-wrapper {
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
}

.checkerboard-container {
    border: 5px solid gray;

}



.checkerboard-row {
    display: flex;
}

.square {
    height: 30px;
    width: 30px;
}

.checkerboard-square-white {
    background-color: #ffffff;
    border: 1px solid gray;
}

.checkerboard-square-black {
    background-color: #000000;
    border: 1px solid gray;
}