/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --ff-primary-color: #e8272f;
    --ff-secondary-color: #000000;
    --ff-thirdly-color: #ebebeb;
    --ff-fouthly-color: #ffffff;
    --ff-primary-accent-color: blue;
    --ff-secondary-accent-color: green;

}